body{
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 15vh 60vh 25vh;
    grid-template-areas: "header header"
                         "leftPost rightPost"
                        "bottom bottom";
    grid-gap: 7px;
    width: 80%;
    margin: auto;
    background:bisque;
}
input{
    width: 90%;
}
textArea{
    width:90%;
}
.header{
    grid-area: header;
    height: 100%;
    border-radius: 7px;
    box-shadow: 4px 4px gray;
    background: lightgray;
    text-align: center;
}
.leftPost{
    grid-area: leftPost;
    height: 100%;
    border-radius: 7px;
    box-shadow: 4px 4px gray;
    background: lightgray;
    padding: 15px;
    overflow: auto;
}
.rightPost{
    grid-area: rightPost;
    height: 100%;
    border-radius: 7px;
    box-shadow: 4px 4px gray;
    background: lightgray;
    text-align: center;
    overflow: scroll;
}
.bottom{
    grid-area: bottom;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    box-shadow: 4px 4px gray;
    background: lightgray;
    text-align: left;
    padding: 7px;
    font-family: Times New Roman;
    font-size: 20px;
}
nav{
    text-align: center;
    border: solid 1px green;
    width: 95%;
    padding: 5px;
    justify-content: center;
    margin:auto;
    margin-top: 5px;
    box-shadow: 1px 2px #acacac;
    display:flex;
    justify-content:center;
}
nav:hover {
    background: lightgreen;
    cursor: pointer;
}
img{
    cursor: pointer;
}